#facetview{
    font-size:11px;
    background:#fff;
    border:2px solid #c9d2d4;
    margin:10px;
    width:670px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.facetview_column{
    float:left;
    margin:0;
    padding:0;
}
#facetview_header{
    float:left;
    clear:both;
    margin:0;
    padding:10px;
    width:100%;
}
#facetview_advanced{
    float:left;
    clear:left;
    margin:10px;
    padding:3px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #a1a1a1;
    color:#a1a1a1;
    overflow:hidden;
    width:165px;
}
#facetview_advanced select{
    width:160px;
    background:#fff;
    border:1px solid #a1a1a1;
    color:#a1a1a1;
    font-size:11px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
#facetview_filters{
    background:#fff;
    float:left;
    clear:left;
    margin:10px;
    padding:3px 5px 5px 5px;
    -moz-box-shadow: 0px 0px 10px #373737;
    -webkit-box-shadow: 0px 0px 10px #373737;
    box-shadow: 0px 0px 10px #373737;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color:#a1a1a1;
    border:1px solid #373737;
    overflow:hidden;
    width:165px;
}
#facetview_search{
    float:left;
    clear:left;
    background:#fff;
    margin:10px;
    padding:3px 5px 5px 5px;
    -moz-box-shadow: 0px 0px 10px #373737;
    -webkit-box-shadow: 0px 0px 10px #373737;
    box-shadow: 0px 0px 10px #373737;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #373737;
    color:#a1a1a1;
    overflow:hidden;
    width:165px;
}
.facetview_filters{
    margin:0 0 10px 0;
    background:#eee;
    padding:2px;
    list-style-type:none;
    clear:both;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.facetview_filters li{
    border-bottom:1px dotted #373737;
}
.facetview_filtertag{
    padding:2px 0;
    font-weight:bold;
    color:#373737;
}
.facetview_filterchoice{
    text-decoration:none;
    color:#373737;
}
#facetview_selectedfilters{
    list-style-type:none;
    margin:0;
    padding:0;
}
.facetview_filterselected{
    color:green;
}
.facetview_filterhidden{
    display:none;
}
.facetview_filtershow{
    float:left;
    clear:both;
    text-decoration:none;
    font-weight:bold;
    color:#373737;
}
#facetview_freetext{
    height:20px;
    width:130px;
    padding:0;
    margin:5px 0 5px 0;
    background:#fff;
    border-bottom:1px solid #ccc;
    -moz-box-shadow: 0px 0px 2px #373737;
    -webkit-box-shadow: 0px 0px 2px #373737;
    box-shadow: 0px 0px 2px #373737;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.facetview_freetext_filterdiv{
    float:left;
    clear:both;
    background:#eee;
    padding:0;
    color:green;
    width:100%;
}
.facetview_freetextfilter{
    height:15px;
    width:130px;
    padding:0;
    margin:5px 0 5px 0;
    background:#fff;
    border:1px dotted #ddd;
    color:#888;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.facetview_advancedshow{
    text-decoration:none;
    color:#a1a1a1;
}
#facetview_metadata{
    float:left;
    clear:both;
    width:470px;
    margin:0 0 10px 0;
    padding:0;
    background:#999;
    color:#fff;
    font-weight:bold;
/*    border-bottom:2px solid #a1a1a1;*/
}
#facetview_results{
    width:470px;
    float:left;
    clear:left;
    margin:0;
    padding:0;
}
.facetview_result{
    color:#373737;
    border-bottom:1px dotted #373737;
    padding:5px;
    margin:5px;
}
#facetview_footer{
    clear:both;
    margin:0;
    padding:0;
    width:100%;
}
a.facetview_clear{
    text-decoration:none;
    color:red;
    font-weight:bold;
    font-size:12px;
    padding:0 0 0 5px;
}
a.facetview_more{
    font-weight:bold;
    color:#a1a1a1;
}
.facetview_moretabletitle{
    min-width:100px;
    text-align:right;
    vertical-align:text-top;
    color:#a1a1a1;
    overflow:hidden;
}
.facetview_moreinfo{
    display:none;
    font-size:11px;
}
.facetview_searchthis{
    display:none;
}
.facetview_raw{
    padding:5px;
    margin:5px;
    background:#eee;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.facetview_resultactions a{
    color:#353535;
    font-weight:bold;
    text-decoration:none;
    margin:0 5px 0 5px;
}
.facetview_green{
    color:green;
}
.facetview_editingbox{

}
.facetview_hidden{
    display:none;
}

td.facetview_fixed{
    width:340px;
    overflow:hidden;
}




